    .result {
        height: fit-content;
        background-color: #1c1b19;
        border-radius: 8px;
        width: 80vw;
        margin: 10px;
    }

    .result-flx {
        display: flex;
        flex-direction: row;
        height: max-content;
        justify-content: space-evenly;
        height: 100%;
    }

    .company_name {
        color: #e3dfd5;
        text-align: center;
        width: fit-content;
        margin: 0 auto;
    }

    .result-left {
        color: #e3dfd5;
    }

    .result-right {
        color: #e3dfd5;
    }

    a {
        color: #e3dfd5;
    }