body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 16px solid #1c1b19;
}



#shapka {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #1c1b19;
    margin-bottom: 16px;
}

.thunderized {
    background-image: url(/static/bg_lightning.gif);
}

h1 {

    color: #e3dfd5;
    display: inline;
    /*
    font-size: 2em;
    */
}

#search_container {
    height: fit-content;
    width: 90vw;
    border: 5px solid black;
}

#search_form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}